h1 {
    color: blue;
text-align: center;
border: solid;
border-color: pink;
padding: 5px;
border-width: 5px;
background: yellow;
font-style: italic;
width: 500px;
margin-left:500px; 
}
h2 {
    color: blueviolet;
    font-size: 30px;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}
ul {
    line-height: 33px; 
}
ol {
    line-height: 33px;
}